<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 实体类,简称 -设置别名 -->
    <typeAliases>
        <!--<typeAlias alias="User" type="cn.springmvc.model.User" />-->
        <package name="cn.springmvc.model"/>
    </typeAliases>
    <!-- 实体接口映射资源 -->
    <!--
        说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml
    -->
    <mappers>
        <!-- 通过package元素将会把指定包下面的所有Mapper接口进行注册 -->
        <!--<package name="com.tiantian.mybatis.mapperinterface"/>-->
        <!-- 通过mapper元素的resource属性可以指定一个相对于类路径的Mapper.xml文件 -->
        <!--<mapper resource="com/tiantian/mybatis/mapper/UserMapper.xml"/>-->
        <!-- 通过mapper元素的url属性可以指定一个通过URL请求道的Mapper.xml文件 -->
        <!--<mapper url="file:///E:/UserMapper.xml"/>-->
        <!-- 通过mapper元素的class属性可以指定一个Mapper接口进行注册 -->
        <!--<mapper class="cn.springmvc.dao.UserDAO"/>-->
        <package name="cn.springmvc.dao"/>
    </mappers>
</configuration>